@model IEnumerable<BTL_ASP.NET_NHOM_5.Models.ProductViewModel>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var danhMuc = ViewBag.DanhMuc;
    var sp = Model.ToList();
}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="sidebar-menu">
            <div class="box-vertical-megamenus">
                <div class="box-vertical-megamenus">
                    <h4 class="title">
                        <span class="btn-open-mobile home-page tp_title"><i class="fa fa-bars"></i></span>
                        <span class="title-menu tp_title">Danh mục</span>
                    </h4>
                    <div class="vertical-menu-content">
                        <div class="menu-slimscroll">
                            @{ Html.RenderAction("ProductCategory", "Home");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 slide-banner tp_banner_main" id="slider-menu">
            <div class="owlSlider owl_design tp_banner_main">
                @for (int i = 1; i <= 11; i++)
                {
                    var url = "~/wwwroot/images/banner" + i + ".jpg";
                    <div class="item insScroll">
                        <a target="_self"
                           href="#">
                            <img src="@Url.Content(@url)"
                                 alt="@url" />
                        </a>
                    </div>
                }
            </div>
            <div class="slider-thumb hidden-sm hidden-xs">
                <ul id="slider-thumb">
                    @for (int i = 1; i <= 11; i++)
                    {
                        var url = "~/wwwroot/images/banner/banner" + i + ".jpg";
                        <li>
                            <div class="slider-image-thumb">
                                <img class="owl-lazy" width="36"
                                     data-src="@Url.Content(@url)"
                                     alt="@url" />
                            </div><a target="_self"
                                     href="#">
                                <div class="slider-detail">
                                    <span class="title-image">bọt giảm cân</span><span class="description-image"></span>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="main">
        <div class="title_chir">
            <h2 class="">Khuyến mãi lớn</h2>
        </div>
        <div class="row">
            <div class="col-md-3 banner hidden-sm hidden-xs">
                <div class="imgage_hover insScroll">
                    <a href="#"><img alt="Sales mua ngay" data-sizes="auto" class="lazyautosizes lazyloaded" src="https://storage.googleapis.com/cdn.nhanh.vn/store/8073/bn/sb_1532118331_97.jpg" data-src="https://storage.googleapis.com/cdn.nhanh.vn/store/8073/bn/sb_1532118331_97.jpg" sizes="227px"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 product">
                <div class="home_product_list bg_w">
                    <ul class="owl_design owl_product_list">
                        @foreach (var spSale in Model.Where(x => x.giamGia > 0).ToList())
                        {
                            var url = "~/wwwroot/images/"+spSale.hinhAnh;
                            var phantram = @spSale.giamGia * 100;
                            var giaNew = Convert.ToDouble(@spSale.donGiaSp)-Convert.ToDouble(@spSale.donGiaSp) * @spSale.giamGia;
                            <li class="item_product ivt chir_loop loop_item animated zoomIn" data-id="33798235">
                                <div class="chir-img insScroll">
                                    <div class="pdLabel sale"><span>- @phantram%</span></div> <a href="/Home/ViewProductDetails?productid=@spSale.maSp" title="@spSale.metaTitleSp" class="33798235 itemHover">
                                        <img data-sizes="auto" class="lazyautosizes ls-is-cached lazyloaded" src="@Url.Content(@url)" data-src="@Url.Content(@url)" data-hover="" alt="@spSale.metaTitleSp" sizes="155px">
                                    </a>
                                    <div class="chi-action">
                                        <a href="javascript:void(0)" rel="33798235" class="quick_views btn-quickview-1">
                                            <img data-sizes="auto" class="lazyautosizes ls-is-cached lazyloaded" src="https://truemart.vn/tp/T0199/img/zoom_w.png" data-src="https://truemart.vn/tp/T0199/img/zoom_w.png" alt="Xem nhanh" title="Xem nhanh" sizes="18px">
                                        </a>
                                        <a href="/Home/ViewProductDetails?productid=@spSale.maSp" class="view_product">
                                            <img data-sizes="auto" class="lazyautosizes ls-is-cached lazyloaded" src="https://truemart.vn/tp/T0199/img/eye_w.png" data-src="https://truemart.vn/tp/T0199/img/eye_w.png" alt="Xem chi tiết" title="Xem chi tiết" sizes="18px">
                                        </a>
                                        <a href="/Cart/Add?productId=@spSale.maSp&quantity=1" style="border:none" ck="1" class="addToCart add-cart design_cart Soldoutcart" selid="33798235" psid="33798235" data-placement="top" title="Thêm vào giỏ">
                                            <img data-sizes="auto" class="lazyautosizes ls-is-cached lazyloaded" src="https://truemart.vn/tp/T0199/img/cart_w.png" data-src="https://truemart.vn/tp/T0199/img/cart_w.png" alt="Thêm vào giỏ" title="Thêm vào giỏ" sizes="18px">
                                        </a>
                                    </div>
                                </div>
                                <div class="product-detail clearfix">
                                    <h3 class="pro-name">
                                        <a href="/Home/ViewProductDetails?productid=@spSale.maSp" class="tp_product_name" title=@spSale.metaTitleSp>
                                           @spSale.tenSp
                                        </a>
                                    </h3>
                                    <p class="pro-price">
                                        <span class="tp_product_price">@Convert.ToDecimal(giaNew).ToString("N0") đ</span><del class="compare-price tp_product_price_old">@Convert.ToDecimal(spSale.donGiaSp).ToString("N0") đ</del>
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    $(function () {
        var storeId = $('.checkStoreId').val();

        var ps = [];
        $('.ivt').each(function () {
            var t = $(this);
            ps.push({ storeId: storeId, id: t.attr('data-id') });
        });
        var $outStock = 'Hết hàng';
        if (in_array(storeId, [23040])) {
            $outStock = 'Liên hệ';
        }
        if (ps.length) {
            checkInventory(ps, function (rs) {
                if (rs.inventories != "") {
                    $.each(rs.inventories, function (key, vl) {
                        if (vl <= 0) {
                            $('.resultProductsCats .item_product[data-id="' + key + '"]').append('<span class="outstock">' + $outStock + '</span>');
                        }
                        if (in_array(storeId, [76236])) {
                            if (vl > 0) {
                                $('.item_product[data-id="' + key + '"] .product-detail .pro-price').append('<small class="inventory" style="font-size: 11px;float: right;">Còn <b>' + vl + '</b> sp</small>');
                            }
                        }
                    });
                }
            });
        }
        if (in_array(storeId, [20446, 26181, 67367])) {
            jQuery('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 1
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 2
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 4
                    }
                }
            });
        } else if (in_array(storeId, [44334, 23832, 84323, 224])) {
            $('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 5,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 2
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 4
                    },
                    768: {
                        items: 4
                    },
                    992: {
                        items: 4
                    }
                }
            });
        }
        else if (in_array(storeId, [74720, 11055])) {
            $('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 5,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 2
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 3
                    },
                    768: {
                        items: 3
                    },
                    992: {
                        items: 3
                    }
                }
            });
        }
        else {
            $('.home-category-tab').owlCarousel({
                items: 4,
                loop: false,
                autoplay: false,
                margin: 0,
                responsiveClass: true,
                nav: true,
                navText: ['‹', '›'],
                responsive: {
                    0: {
                        items: 2
                    },
                    320: {
                        items: 2
                    },
                    480: {
                        items: 4
                    },
                    768: {
                        items: 4
                    },
                    992: {
                        items: 5
                    }
                }
            });
        }
        $('.quick_views').click(function (e) {
            e.preventDefault();
            quickview($(this).attr('rel'));
        });
    });
    function quickview(id) {
        $.post('/product/q' + id,
            function (rs) {
                $.fancybox({
                    content: rs, padding: [20, 55, 20, 55], fitToView: true, wrapCSS: 'fancybox-qv',
                    helpers: { overlay: { css: { 'background': 'rgba(158, 158, 158, 0.5)' } } },
                    afterShow: function () {
                        $.getScript('/js/jquery/cloudzoom/cloudzoom.js');
                        $('div#p-sliderproduct ul.slides').carouFredSel({
                            items: 4,
                            direction: "left",
                            scroll: {
                                items: 1,
                                duration: 500,
                                onAfter: function (data) {
                                    data.items.visible.first().find('img').addClass('cloudzoom-gallery-active');
                                }
                            },
                            auto: false,
                            prev: ".owl-controls .owl-nav div.owl-prev",
                            next: ".owl-controls .owl-nav div.owl-next"
                        });
                        if (in_array(storeId, [41164])) {
                            $.getScript('/tp/T0199/js/stores/41164/quickview41164.js?2');
                        } else {
                            $.getScript('/tp/T0199/js/quickview.js?2');
                        }

                    }
                });
            }
        );
    }
    if (in_array(storeId, [73723])) {
        var w_tooltip = $(".zing-tooltip").width();
        var h_tooltip = 0;
        var pad = 10;
        var x_mouse = 0;
        var y_mouse = 0;
        var wrap_left = 0;
        var wrap_right = 0;
        var wrap_top = 0;
        var wrap_bottom = 0;

        $(".item_product .chir-img").mousemove(function (e) {
            wrap_left = $(this).parents('.product-list').offset().left;
            wrap_top = $(this).parents('.product-list').offset().top;
            wrap_bottom = $(this).parents('.product-list').offset().top + $(this).parents('.product-list').height();
            x_mouse = e.pageX - $(this).offset().left;
            y_mouse = e.pageY - $(this).offset().top;
            h_tooltip = $(this).parent().children(".zing-tooltip").height();
            $(".zing-tooltip").hide();

            /*Move Horizontal*/
            if ($(this).offset().left - pad - w_tooltip > wrap_left) {
                $(this).parent().children(".zing-tooltip").css("left", 0 - (w_tooltip + pad) + x_mouse);
            } else {
                $(this).parent().children(".zing-tooltip").css("left", pad + x_mouse + 20);
            }

            /*Move Vertical*/
            if (e.pageY + h_tooltip >= $(window).height() + $(window).scrollTop()) {
                $(this).parent().children(".zing-tooltip").css("top", y_mouse - h_tooltip - pad)
            } else {
                $(this).parent().children(".zing-tooltip").css("top", pad + y_mouse + 20);
            }
            /*Show tooltip*/
            $(this).parent().children(".zing-tooltip").show();
        });

        $(".item_product .chir-img").mouseout(function () {
            $(".zing-tooltip").hide();
        });
    }</script>