@model PagedList.IPagedList<BTL_ASP.NET_NHOM_5.Models.DanhMuc>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


}
<div style="float:right;margin-bottom:10px;">
    @using (Html.BeginForm())
    {
        <p>
            <b>Tìm tên danh mục: </b> @Html.TextBox("SearchString")
            <input type="submit" value="Tìm" class="btn btn-primary" />
        </p>
    }
</div>
<div style="margin-bottom:5px;">
    <a href="~/Admin/DanhMucs/Create" class="btn btn-primary">Thêm danh mục</a>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Danh mục</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Tên Danh mục
                </th>
                <th>

                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="font-weight:bold;text-transform:uppercase">
                        @Html.DisplayFor(modelItem => item.TenDM)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaDM }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaDM }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaDM })
                    </td>
                </tr>
                foreach (var itemSub in Model.Where(x => x.ParentID == item.MaDM))
                {
                    <tr>
                        <td style="padding-left:25px;">
                            @Html.DisplayFor(modelItem => itemSub.TenDM)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MaDM }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MaDM }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.MaDM })
                        </td>
                    </tr>
                }
            }
        </table>
        <style type="text/css">
            .pagination {
                padding: 0px;
                margin: 0px;
            }
        </style>
           Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
