@model BTL_ASP.NET_NHOM_5.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có chắc muốn xóa không ?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Xóa sản phẩm</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DanhMuc.TenDM)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DanhMuc.TenDM)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.KhuyenMai.TenKM)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KhuyenMai.TenKM)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ThuongHieu.TenTH)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ThuongHieu.TenTH)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenSP)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenSP)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MetaTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MetaTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MoTa)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SoLuong)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SoLuong)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DonGia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DonGia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BaoHanh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BaoHanh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ChiTiet)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ChiTiet)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HinhAnh)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HinhAnh)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ncc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ncc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                </dl>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
